@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/*Great Vibes*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }

  html,
  body,
  #root,
  .app {
    height: 100%;
    background-color: #010026;
    @apply text-white;
  }
}